{% block before_actuality %}{% endblock before_actuality %}
<article class="row pt-4 pb-2 actuality-preview border-bottom border-primary-transparent"
         id="actuality{{ actuality.id|default() }}" itemscope itemtype="http://schema.org/NewsArticle">
    <header class="col-lg-12 mb-1 text-left">
        {% if actuality.slug is defined and actuality.slug|length > 0 %}
            <a href="{{ path('oswis_org_oswis_web_page', {'slug': actuality.slug}) }}" itemprop="url">
                <meta itemprop="mainEntityOfPage" content="{{ path('oswis_org_oswis_web_page', {'slug': actuality.slug}) }}">
                {% block actuality_content %}
                    <h3 class="text-left text-uppercase">
                        <span itemprop="headline">{{ actuality.name }}</span>
                        <time itemprop="datePublished" content="{{ actuality.dateTime|default|date("Y-m-d\\TH:i:sP")|default }}">
                            <small>{{ actuality.dateTime|default|date("j.n.Y")|default }}</small>
                        </time>
                    </h3>
                {% endblock actuality_content %}
            </a>
        {% else %}
            {{ block('actuality_content') }}
        {% endif %}
    </header>
    {% block inside_actuality %}{% endblock inside_actuality %}
    <div class="col-lg-12 text-justify" itemprop="articleBody">
        {{ actuality.textValue|markdown_to_html }}
    </div>
</article>
{% block after_actuality %}{% endblock after_actuality %}
