{% block before_actuality %}{% endblock before_actuality %}
<article class="row actuality-preview news-article pt-4 pb-2 border-bottom border-primary-transparent mw-100 overflow-hidden"
         id="actuality{{ actuality.id|default() }}" itemscope itemtype="http://schema.org/NewsArticle">
    <header class="col-lg-12 ps-4 ps-sm-3">
        {% if actuality.slug is defined and actuality.slug|length > 0 %}
            <a href="{{ path('oswis_org_oswis_web_page', {'slug': actuality.slug}) }}" itemprop="url">
                <meta itemprop="mainEntityOfPage" content="{{ path('oswis_org_oswis_web_page', {'slug': actuality.slug}) }}">
                {% block actuality_content %}
                    <h3 class="text-start text-uppercase">
                        <span itemprop="headline">{{ actuality.name }}</span>
                        <time itemprop="datePublished" content="{{ actuality.dateTime|date("Y-m-d\\TH:i:sP")|default }}"
                              datetime="{{ actuality.dateTime|date("Y-m-d\\TH:i:sP")|default }}" class="small text-muted">
                            {{ actuality.dateTime|date("j. n. Y")|replace({' ': "&nbsp;"})|raw }}
                        </time>
                    </h3>
                {% endblock actuality_content %}
            </a>
        {% else %}
            <div class="text-justify">
                {{ block('actuality_content') }}
            </div>
        {% endif %}
    </header>
    {% block inside_actuality %}{% endblock inside_actuality %}
    <div class="col-lg-12" itemprop="articleBody">
        {{ actuality.textValue|markdown_to_html }}
    </div>
</article>
{% block after_actuality %}{% endblock after_actuality %}
